@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #222324;
    text-decoration: none;
    border-radius: 25%;
    font-family: Inter, Arial !important;
    font-weight: 700 !important;
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    transition: 0.2s;
}

.btn:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}
.card {
    font-family: Inter;
    background-color: rgba(255, 255, 255, 0.7);
    width: 300px;
    height: 250px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

img {
border-radius: 15px;
}

.zagolovok {
    margin-top: 10px;
    font-family: Montserrat;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 60s ease infinite;
    color: #222324;
    font-family: Inter;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.footer-text {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    pointer-events: none;
}
